
img {
  width: 120px;
  height: auto;
}

body {
  background-color: white;
}

#first {
  background-color: #89818A;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  width: 700px;
  height: 310;
  margin:0px 300px;
  margin-bottom: 10px;
}

#sec {
  background-color: #89818A;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  width: 700px;
  height: 310;
  margin:0px 300px;
  margin-top: 10px;
}

#thr {
  background-color: #89818A;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  width: 700px;
  height: 310;
  margin:0px 300px;
  margin-top: 10px;
}
#for {
  background-color: #89818A;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  width: 700px;
  height: 310;
  margin:0px 300px;
  margin-top: 10px;
}
#fiv {
  background-color: #89818A;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  width: 700px;
  height: 310;
  margin:0px 300px;
  margin-top: 10px;
}
#six {
  background-color: #89818A;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  width: 700px;
  height: 310;
  margin:0px 300px;
  margin-top: 10px;
}
#sev {
  background-color: #89818A;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  width: 700px;
  height: 310;
  margin:0px 300px;
  margin-top: 10px;
}
#ate {
  background-color: #89818A;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  width: 700px;
  height: 310;
  margin:0px 300px;
  margin-top: 10px;
}
#noin {
  background-color: #89818A;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  width: 700px;
  height: 310;
  margin:0px 300px;
  margin-top: 10px;
}
#ten {
  background-color: #89818A;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  width: 700px;
  height: 310;
  margin:0px 300px;
  margin-top: 10px;
}
#sidebar {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:158px;
  background:pink;
  border: 2px solid #fff;
  height:100%;
}
